[submodule "submodules/UnixIO-cpp"]
	path = submodules/UnixIO-cpp
	url = https://github.com/tort-dla-psa/UnixIO-cpp
[submodule "submodules/binforms"]
	path = submodules/binforms
	url = https://github.com/tort-dla-psa/binforms
[submodule "submodules/i2c-exp-driver"]
	path = submodules/i2c-exp-driver
	url = https://github.com/tort-dla-psa/i2c-exp-driver
